
<div class="container-fluid footer" style="margin-top: auto">
    <div class="row bg-dark">
        <div class="col text-center text-white my-1">Developed By <span
                style="border-radius: 3px; background-color: white; padding: 0px 8px; color: black" id="Umair">Umair
                Ali</span> </div>


<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>