{{>header}}



<div class="container mt-5 bg-light rounded shadow p-5">
    <h3 class="title contactUsHeading">Login here</h3>

    <div class="row w-50 m-auto">

        <form action="login" method="POST" class="text-center">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your Email..." name="email" />
                <span class="input-group-text" id="basic-addon2">📨</span>
            </div>

            <div class="input-group mb-3">

                <span class="input-group-text">🔑</span>
                <input type="password" class="form-control" placeholder="Password" name="pass" />
            </div>

            <button type="submit" class="btn btn-dark mt-3">Login</button>
        </form>

    </div>
</div>


{{>footer}}