{{>header}}
<h1
    style="background: black; color: white; text-align: center; border-radius: 6px; margin-top: auto; width: 30%; margin: auto; padding: 5px; 10px">
    Welcome {{userName}}</h1>
{{>footer}}